---
import WhatsApp from '@assets/icons/logo-whatsApp.astro';
import imgISL from '@assets/logo-isl.webp';
import { Image } from 'astro:assets';
import Modal from '@components/Modal.astro';

const base = import.meta.env.BASE_URL;
const classIcon = 'relative rounded-full flex items-center justify-center w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 shadow-md group';
const tooltipClass =
	"absolute right-[calc(100%+1rem)] group-hover:right-[calc(100%+0.8rem)] top-1/2 transform -translate-y-1/2 text-text py-2 px-4 bg-white rounded-xl whitespace-nowrap before:content-[''] before:absolute before:top-1/2 before:right-[-9px] before:-translate-y-1/2 before:border-[5px] before:border-solid before:border-transparent before:z-10 before:border-l-white group-hover:opacity-100 opacity-0 transition-all duration-300 semibold tooltip-shadow font-semibold pointer-events-none shadow-[0_0_40px_0_rgba(0,0,0,0.1)]";
---

<div class="fixed bottom-2 right-2 md:bottom-4 md:right-4 lg:bottom-6 lg:right-6 flex flex-col gap-3 lg:gap-4 z-50">
	<a class={`${classIcon} bg-white text-white`} href={`${base}downloads/ISLQS.zip`} download="ISLQS.zip" title="Instalador ISL">
		<Image class="max-w-[20px] lg:max-w-[30px]" src={imgISL} alt="Logo ISL" width={60} height={60} loading="lazy" title="Image logo ISL" />
		<span class={tooltipClass}> Descargar instalador ISL</span>
	</a>

	<a class={`${classIcon} bg-gray-500 text-white cursor-pointer`} title="Inicia un chat" id="islpronto_link" href="#">
		<i class="fi icon fi-tr-user-headset text-xl lg:text-2xl justify-center"></i>
		<span class={tooltipClass}>Inicia un chat</span>
	</a>

	<a class={`${classIcon} bg-[#25D366] text-white `} href="https://api.whatsapp.com/send/?phone=573222282928&text=Hola%21+%0D%0ADeseo+mas+informaci%C3%B3n+sobre+Servicios+de+IngeSoftNet" target="_blank" rel="noopener noreferrer" title="Abrir chat de WhatsApp">
		<WhatsApp />
		<span class={tooltipClass}>Estamos en línea</span>
	</a>
</div>

<!-- Modal si no se tiene asesores disponibles -->
<Modal id="modalAsesores" size="max-w-md">
	<div slot="modal-header">
		<hgroup class="py-4 text-center">
			<i class="fi icon fi-tr-message-arrow-up-right h-15 w-15 bg-primary-light text-primary text-xl flex items-center justify-center rounded-full mx-auto mb-6"></i>
			<p class="font-bold mb-2 text-2xl">¡Gracias por tu paciencia!</p>
			<p class="text-lg">Nuestros asesores están atendiendo a otros usuarios, pero no tardaremos.</p>
		</hgroup>
	</div>
	<div slot="modal-body">
		<button class="flex items-center justify-center px-8 py-3 gap-3 cursor-pointer text-white bg-primary hover:bg-primary-dark rounded-full transition-all duration-300 ease-in-out mx-auto mt-6 lg:mt-10" data-modal-close>
			<span>Cerrar</span>
			<i class="fi icon fi-tr-x"></i>
		</button>
	</div>
</Modal>

<script type="text/javascript" src="https://islpronto.islonline.net/live/islpronto/public/chat.js?d=%3aingesoftnet" defer async></script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const islprontoLink = document.getElementById('islpronto_link');

		islprontoLink.addEventListener('click', function (event) {
			const href = islprontoLink.getAttribute('href');

			if (href === '#') {
				event.preventDefault();

				// Mostrar el modal
				const modal = document.getElementById('modalAsesores');
				(window as any)?.modalAsesoresManager.open();
			}
		});
	});
</script>
