---
import clientes from '@constants/clients.js';
import { Image } from 'astro:assets';

export interface Props {
	className: string;
}

const { className } = Astro.props;

const clientesArray = [...clientes, ...clientes];
import 'swiper/css';
---

<section class={`${className} py-6 lg:py-10 select-none`} aria-label="Carrusel de logos de clientes" id="hero-carrusel">
	<div class="swiper" id="clientesSwiper">
		<div class="swiper-wrapper">
			{
				clientesArray.map(({ name, logo, height, width }) => (
					<div class="swiper-slide" style="margin-right: 100px;">
						<Image class="w-full h-auto max-w-[150px] max-h-[60px] object-contain image" src={logo} alt={`Imagen logo de ${name}`} height={height} width={width} title={`Logo de ${name}`} loading="eager" fetchpriority="high" />
					</div>
				))
			}
		</div>
	</div>
</section>

<script>
	import Swiper from 'swiper';
	import { Autoplay, FreeMode } from 'swiper/modules';

	document.addEventListener('DOMContentLoaded', () => {
		// const swiperContainer = document.querySelector('#hero-carrusel');
		const swiperElement = document.querySelector('#clientesSwiper');

		// Ensure the element is an HTMLElement before passing to Swiper
		if (!(swiperElement instanceof HTMLElement)) return;

		const clientesSwiper = new Swiper(swiperElement, {
			modules: [Autoplay, FreeMode],
			slidesPerView: 'auto',
			spaceBetween: 100,
			centeredSlides: true,
			centerInsufficientSlides: true,
			loop: true,
			freeMode: {
				enabled: true,
				sticky: false,
			},
			autoplay: {
				delay: 0,
				pauseOnMouseEnter: false,
				disableOnInteraction: false,
			},
			speed: 12000,
			simulateTouch: false,
			allowTouchMove: false,
		});

		// const swiperWrapper = clientesSwiper.wrapperEl;
		// let transformValue;

		// // Mouse enter
		// swiperWrapper.addEventListener('mouseenter', function () {
		// 	clientesSwiper.autoplay.stop();

		// 	// Recordar la traducción original que Swiper quería alcanzar
		// 	transformValue = this.style.transform;

		// 	// Establecer la duración de transición a cero
		// 	this.style.transitionDuration = '0ms';

		// 	// Fijar la posición actual del wrapper
		// 	this.style.transform = 'translate3d(' + clientesSwiper.getTranslate() + 'px, 0px, 0px)';
		// });

		// // Mouse leave
		// swiperWrapper.addEventListener('mouseleave', function () {
		// 	// Restaurar la duración de transición original
		// 	this.style.transitionDuration = clientesSwiper.params.speed + 'ms';

		// 	// Devolver el destino original
		// 	this.style.transform = transformValue;

		// 	// Reiniciar autoplay
		// 	clientesSwiper.autoplay.start();
		// });
	});
</script>

<style>
	.swiper-wrapper {
		transition-timing-function: linear !important;
		align-items: center;
	}

	.swiper-slide {
		width: -webkit-fit-content !important;
		width: -moz-fit-content !important;
		width: fit-content !important;
		transition: filter 0.3s ease-in-out;
	}

	.swiper-wrapper:hover > :not(:hover) {
		filter: grayscale(1);
		mask-image: linear-gradient(to right, white 0%, white 100%);
	}
</style>
