---
import Menu from '@sections/Menu.astro';
import Footer from '@sections/Footer.astro';
import ButtonLateral from '@components/ButtonLateral.astro';

import '@styles/rounded-thin.css';
import '@styles/fonts.css';
import '@styles/global.css';

export interface Props {
	title: string;
	description?: string;
	keywords?: string;
	bg?: string;
	classFooter?: string;
}

const { title, description, keywords, bg, classFooter } = Astro.props;

const organizationSchema = {
	'@context': 'https://schema.org',
	'@type': 'Organization',
	name: 'IngeSoftNet',
	url: 'https://ingesoftnet.com',
	logo: 'https://ingesoftnet.com/images/web-app-manifest-512x512.png',
	description: 'Más que un servicio, somos una solución',
	address: {
		'@type': 'PostalAddress',
		addressLocality: 'Quibdó',
		addressRegion: 'Chocó',
		addressCountry: 'CO',
		streetAddress: 'Carrera 3 # 24A -54, Piso 2 Quibdó - Chocó',
		postalCode: '270001',
	},
	contactPoint: {
		'@type': 'ContactPoint',
		telephone: '+57-316-265-68-86',
		contactType: 'customer service',
		availableLanguage: 'Spanish',
	},
	sameAs: ['https://www.facebook.com/ingesoftnetsas', 'https://www.instagram.com/ingesoftnet', 'https://www.youtube.com/@ingesoftnet'],
};

const websiteSchema = {
	'@context': 'https://schema.org',
	'@type': 'WebSite',
	name: 'IngeSoftNet',
	url: 'https://ingesoftnet.com/',
	potentialAction: {
		'@type': 'SearchAction',
		target: 'https://ingesoftnet.com/buscar?q={search_term_string}',
		'query-input': 'required name=search_term_string',
	},
};
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Meta básicos optimizados -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
		<meta name="theme-color" content="#018be8" />
		<meta name="color-scheme" content="light" />
		<meta name="application-name" content="IngeSoftNet" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="IngeSoftNet" />
		<meta name="msapplication-TileColor" content="#018be8" />
		<meta name="msapplication-name" content="IngeSoftNet" />
		<meta name="msapplication-tooltip" content="IngeSoftNet - Más que un servicio, somos una solución" />
		<meta name="msapplication-config" content="/icons/browserconfig.xml" />

		<!-- SEO Meta Tags -->
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{keywords && <meta name="keywords" content={keywords} />}
		<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta name="author" content="IngeSoftNet" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />

		<link rel="manifest" href="/site.webmanifest" />
		<link rel="canonical" href="https://ingesoftnet.com" />
		<link rel="alternate" href="https://ingesoftnet.com" hreflang="es-CO" />
		<link rel="alternate" href="https://ingesoftnet.com" hreflang="x-default" />

		<!-- Open Graph (Redes Sociales) -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content="https://ingesoftnet.com" />

		<!-- Locale alternativo para Open Graph -->
		<meta property="og:locale:alternate" content="en_ES" />
		<meta property="og:site_name" content="IngeSoftNet" />
		<meta property="og:image" content="/images/og-image.jpg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content={`${title}`} />
		<meta property="og:locale" content="es_CO" />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:image" content="/images/og-image.jpg" />
		<meta name="twitter:image:alt" content={`${title}`} />
		<!-- Cuenta principal en Twitter -->
		<meta name="twitter:site" content="@IngeSoftNet" />
		<!-- Autor en Twitter -->
		<meta name="twitter:creator" content="@IngeSoftNet" />

		<!-- Google search console -->
		<meta name="google-site-verification" content="-4GL3mMbSt47GxWSPNjCWHnk0BaXiz0mRmhjHQ7I8d4" />

		<!-- Google analytics -->
		<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-YRK17N2J3R"></script>
		<script async defer>
			window.dataLayer = window.dataLayer || [];
			function gtag(...args) {
				window.dataLayer.push(args);
			}
			gtag('js', new Date());

			gtag('config', 'G-EXAMPLEID');
		</script>

		<script type="application/ld+json" set:html={JSON.stringify(organizationSchema)} />
		<script type="application/ld+json" set:html={JSON.stringify(websiteSchema)} />
	</head>

	<body>
		<Menu />
		<main class={bg}>
			<slot />
		</main>
		<Footer classFooter={classFooter} />
		<ButtonLateral />

		<!-- Botón volver arriba -->
		<button class="btn-volver-arriba" id="volver-arriba" aria-label="Volver al inicio de la documentación">
			<i class="fi icon fi-tr-arrow-small-up"></i>
		</button>
	</body>
</html>

<script>
	import { gsap } from 'gsap';
	import { SplitText } from 'gsap/SplitText';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	document.addEventListener('DOMContentLoaded', () => {
		gsap.registerPlugin(SplitText, ScrollTrigger);

		// Títulos principales
		const titulosMain = document.querySelectorAll('.content-title-main');

		titulosMain.forEach((title) => {
			if (!title) return;

			const category = title.querySelector('.category');
			const titleElement = title.querySelector('.title-main');
			const content = title.querySelectorAll('.subtitle-main');

			const tl = gsap.timeline({
				scrollTrigger: {
					trigger: title,
					start: 'top 80%',
				},
			});

			// Solo animar si existe el título
			if (titleElement) {
				const titleSplit = SplitText.create(titleElement, {
					type: 'words,chars',
					charsClass: 'letra',
				});

				tl.from(titleSplit.chars, {
					duration: 0.5,
					opacity: 0,
					y: 100,
					transformOrigin: '0% 50%',
					ease: 'power2.out',
					stagger: 0.02,
				});
			}

			// Solo animar si existe content
			if (content.length) {
				tl.from(
					content,
					{
						duration: 0.5,
						opacity: 0,
						y: 30,
						stagger: 0.2,
						ease: 'power2.out',
					},
					'-=0.3'
				);
			}

			// Solo animar si existe category
			if (category) {
				tl.from(
					category,
					{
						duration: 0.5,
						opacity: 0,
						y: 30,
						ease: 'power2.out',
					},
					'-=0.2'
				);
			}
		});

		// Fade in general
		const secciones = document.querySelectorAll('.section');

		secciones.forEach((section) => {
			if (!section) return;

			const elements = gsap.utils.toArray(section.querySelectorAll('.element-fade-in'));

			if (!elements.length) return;

			gsap.from(elements, {
				opacity: 0,
				y: 50,
				duration: 1,
				ease: 'power2.out',
				stagger: 0.3,
				scrollTrigger: {
					trigger: section, // Usar section, no elements
					start: 'top 80%',
				},
			});
		});
	});
</script>

<script>
	// Script para fijar el menú cuando se scrollea más del 80% del header
	const header = document.getElementById('hero-principal'); // Ajusta el selector según tu HTML
	const menu = document.getElementById('menu-principal');
	document.addEventListener('DOMContentLoaded', () => {
		function handleScroll() {
			// Si no existe header o menu, salir
			if (!header || !menu) return;

			// Obtener la altura del header
			const headerHeight = header.offsetHeight;

			// Calcular el 80% de la altura del header
			const threshold = headerHeight * 0.8;

			// Obtener la posición actual del scroll
			const scrollPosition = window.scrollY;

			// Si el scroll supera el 80% del header
			if (scrollPosition > threshold) {
				// Agregar clase para fijar el menú
				menu.classList.add('fixed-menu');
			} else {
				// Remover clase cuando vuelve arriba
				menu.classList.remove('fixed-menu');
			}
		}

		// Escuchar el evento scroll
		window.addEventListener('scroll', handleScroll);

		// Ejecutar una vez al cargar para verificar posición inicial
		handleScroll();

		// Animación de enlaces con data-hover
		const links = document.querySelectorAll<HTMLElement>('.animation-link');

		links.forEach((link) => {
			const text = link.textContent;

			// Crear el span y mover el contenido dentro
			const span = document.createElement('span');
			span.textContent = text;

			// Limpiar contenido y agregar el span
			link.textContent = '';
			link.appendChild(span);

			// Asignar el atributo data-hover
			link.setAttribute('data-hover', text);
		});

		// Smooth Scroll para enlaces de ancla
		// Cuando se de click a un enlace de ancla, hacer scroll suave se ubica 80px abajo del elemento
		document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
			anchor.addEventListener('click', function (e) {
				e.preventDefault();
				const targetId = this.getAttribute('href').substring(1);
				const targetElement = document.getElementById(targetId);
				if (targetElement) {
					const offset = 52;
					const elementPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
					const offsetPosition = elementPosition - offset;
					window.scrollTo({
						top: offsetPosition,
						behavior: 'smooth',
					});
				}
			});
		});

		// Botón de volver al inicio de la documentación
		const backToTopButton = document.querySelector('#volver-arriba');
		const documentacion = document.querySelector('#menu-principal');

		if (backToTopButton && documentacion) {
			backToTopButton.addEventListener('click', () => {
				documentacion.scrollIntoView({
					behavior: 'smooth',
					block: 'start',
				});
			});
		}
		// Si el usuario esta en el inicio de la documentación, ocultamos el botón de volver al inicio
		const inicio = document.querySelector('#menu-principal');
		if (inicio && backToTopButton) {
			const observer2 = new IntersectionObserver(
				(entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							backToTopButton.classList.remove('activo');
						} else {
							backToTopButton.classList.add('activo');
						}
					});
				},
				{
					threshold: 0.2,
				}
			);

			observer2.observe(inicio);
		}
	});
</script>

<style>
	.btn-volver-arriba {
		position: fixed;
		bottom: 20px;
		left: 20px;
		z-index: 9999;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: var(--color-primary-dark);
		color: #fff;
		border: none;
		cursor: pointer;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
		font-size: 1.5rem;
		transform: scale(0);
		transition: transform ease-in-out 0.3s;
	}

	.btn-volver-arriba.activo {
		transform: scale(1);
	}
</style>
